
header{
	background-color: grey;
	overflow: hidden;
	width: 100%;
	display:flex;
	justify-content: center;
}

section{
	margin: 10px 20px;
	font-family: kanit; 
	font-weight: 300;
}

div{
	margin: 10px 20px;
	font-family: kanit; 
	font-weight: 300;
}

iframe{
	display: block;
	float: left;
}
nav{
	text-align: center;
}

nav ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
    padding: 0;
    position: relative;
}

nav ul li{
	float: left;
	padding: 10px 40px;
	position: relative;
    display: block; 
}

nav ul li a{
	text-decoration: none;
	font-family: kanit;
	font-size: 25px;
	color: white;
	display: block;	
}

.title{
	font-family: kanit; 
	font-weight: 1000;
}

#home:hover{
	background-color: #3083DC;
	-webkit-text-fill-color: red;
	-webkit-text-stroke: 1px #fff44f;
	
}

#resume:hover{
	background-color: white;
	-webkit-text-fill-color: red;
	-webkit-text-stroke: 1px #fff44f;	
}

#Sarajevo-Statue:hover{
	background-color: red;
	-webkit-text-fill-color: red;
	-webkit-text-stroke: 1px #fff44f;
}

#education{
	float: right;
	width: 50%;
	left: 33.5%;
	top:11%;
	position: absolute;
	display: block;
}
#education ol li{
	list-style-type: none;
	padding: 6px 0px;
	margin: 0;	
} 

#contact-information{
	width: 30%;
	display: block;
}

#accoldes{
	left: 30.9%;
	top: 27%;
	position: absolute;	
	float: right;
}
#editing{
	float: right;
	font-family: kanit;
	font-weight:300;
	margin: 40px;
}

#blalkans{
	display: block;
	width: 60%;
	margin: 5% 0% 5% 0%;
	float: right;
}

#counties{
    display: block;
	float: left;
}

#mainimage{
	float: left;
	margin: 0px 10px 0px 0px;
}

#mainimage2{
	text-align: center;
	margin: 0px 10px 0px 0px;
	display: inline;
}

#mainimage2 img {
	text-align: center;
	width: 50%
}

.stroycontent{
	float: left;
	width: 70%;
	margin: 0;
}